*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    height: 14vh;
}

.header_container{
    display: flex;
    justify-content: space-between;
}

.header_container img{
    width: 350px;
    height: 55px;
    margin: 1% 2%;
}

.header_container nav{
    width: 60%;
    margin: 1% auto;
}

.header_container ul li{
    display: inline-block;
    margin: 0 1%;
    padding: 1%;
}

.header_container ul li a{
    text-decoration: none;
    font-size: 12px;
    color: rgb(59, 50, 46);
}

.header_container ul li a:hover{
    color: rgb(0, 13, 255);
}

.first_section{
    width: 100%;
}

.first_container{
    display: flex;
    justify-content: center;
}

.text{
    width: 100%;
    background-color: #336699;
}

.text p{
    color: white;
}

.first_part{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5%;
    padding: 5% 3%;
}

.first_part p{
    padding: 3% 3%;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.first_part span{
    font-weight: 700;
}

.second_part{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second_part .digital{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.second_part button{
    margin: 3%;
    width: 330px;
    height: 60px;
    background-color: #ff2063;
    border-radius: 5px;
}

.second_part button, a{
    padding: 1% 2%;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.second_part .precision{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
}


.banner{
    width: 100%;
}

.banner img{
    width: 100%;
    height: 100%;
}

.second_section{
    width: 100%;
}

.second_section h2{
    margin: 3%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #336699;
}

.second_container{
    display: flex;
    justify-content:space-around;
}
.second_container article{
    margin: 3%;
    width: 360px;
    height: 690px;
    box-shadow: 15px 20px 60px 15px rgba(71,74,182,0.12)
}

.second_container article h4, p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #336699;
    padding: 3% 5%;
    font-size: 17px;
}

.second_container article span{
    font-weight: 700;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second_container button{
    width: 250px;
    height: 50px;
    margin: 3%;
    background-color: #fb8b00;
    border-radius: 25px;
    box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.406);
}

.second_container article button a{
    padding: 3% 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.spec1, .spec2, .spec3{
    width: 100px;
    height: 100px;
    margin: 10% auto;
}

.spec1 img, .spec2 img, .spec3 img{
    width: 100%;
    height: 100%;
}

.third_section{
    width: 100%;
}

.third_section h2{
    text-align: center;
    font-size: 40px;
    margin: 3%;
    color: #336699 ;
}

.third_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third_container article{
    width: 80%;
    margin: 5%;
    padding: 0 3%;
}

.little_container1, .little_container2, .little_container3{
    display: flex;
    justify-content: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.46);
}

.little_container1 img, .little_container2 img, .little_container3 img{
    width: 100px;
    height: 100px;
    margin: 2%;
}


.third_container article button{
    width: 250px;
    height: 40px;
    border-radius: 30px;
    box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.406);
    background-color: #fb8b00;
    margin: 5%;
}

.section4{
    width: 100%;
    background-color: #ffa000;
}

.section4 h2{
    padding: 2%;
    text-align: center;
    font-size: 40px;
    color: white ;
}

.section4 p{
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.frame_container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.frame_container iframe{
    width: 700px;
    height: 390px;
    margin: 5% 5%;
}

footer{
    width: 100%;
    background-color: #313131;
}

.footer_container{
    display: flex;
    justify-content: space-around;
}

.footer_container article{
    width: 350px;
    height: 350px;
    margin: 3% 3%;
}

.footer_logo{
    width: 100%;
    height: 35%;

}
.footer_container article ul{
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer_container article ul li{
    list-style: none;
    display: inline-block;
    margin: 0 4%;
}

.footer_container article ul li a{
    text-decoration: none;
}

.footer_container article ul li a img{
    width: 25px;
    height: 25px;
    padding: 2% 2%;
}

.button1{
    width: 200px;
    height: 30px;
    margin: 10%;
    border-radius: 20px;
}

.button1 a {
 color: black;
 padding: 1% 2%;
 font-size: 14px;
}

.button2{
    width: 200px;
    height: 30px;
    margin: 3%;
    border-radius: 20px;
    background-color: #fb8b00;
}

.button2 a {
    color: white;
    padding: 1% 2%;
    font-size: 14px;
}

.footer_container article .part1, .part2, .part3{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    width: 100%;
}

.part1 span, .part2 span, .part3 span{
    font-weight: 700;
    font-size: 18px ;
}

.footer_container article p{
    color: white;
    font-size: 14px;
    padding: 3% 3%;
    width: 100%;
}


.part3 .button3{
    width: 200px;
    height: 40px;
    margin: 3%;
    border-radius: 10px;
    background-color: #313131;
}

.part3 img{
    width: 150px;
    height: 150px;
}

.credits{
    display: flex;
    justify-content: center;
    background-color: black;
}

.credits p, a{
    color: white;
    font-size: 12px;
}





